body {
    display: none;
}
.timer {
    display: block;
    height: 120px;
    padding: 10px;
}
.timerselected {
    background-color: #FFF;
}
.timertime {
    font-size: 60px;
    display: inline-block;
}
.timertimenum {
    font-family: "display";
    font-variant-numeric: lining-nums;
}
.timertimenumchar {
    width: 40px;
    height: 100%;
    text-align: right;
    display: inline-block;
    /* background-color: #FFF; */
}
.timerinfobox {
    display: inline-block;
}
.timertitle {
    font-size: 20px;
}
.timerinfo {
    font-size: 15px;
}
.timerbtnbox {
    height: 40px;
}