.timer {
    display: block;
    height: 120px;
    padding: 10px;
}
.timerselected {
    background-color: #FFF;
}
.timertime {
    font-size: 50px;
    width: 270px;
    display: inline-block;
}
.timertimenum {
    font-family: "display";
    font-variant-numeric: lining-nums;
}
.timerinfobox {
    display: inline-block;
}
.timertitle {
    font-size: 20px;
}
.timerinfo {
    font-size: 15px;
}
.timerbtnbox {
    height: 40px;
}