body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: none;
}
.timertime {
    position: fixed;
    left: 0;
    right: 0;
    top: calc(50% - 50px);
    bottom: 0;
    font-size: 100px;
    display: block;
    text-align: center;
}
.timertimenum {
    font-family: "display";
    font-variant-numeric: lining-nums;
}
.timertimenumchar {
    width: 80px;
    text-align: right;
    display: inline-block;
    /* background-color: #FFF; */
}